<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Họ tên NKT:</label> {{ x.ho_ten_khai_sinh_nkt}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Nơi đăng kí khai sinh:</label> {{ x.noi_dk_khai_sinh}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Quê quán:</label> {{ x.que_quan}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Địa chỉ thường trú:</label> {{ x.dia_chi_thuong_tru}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Số thứ tự NKT:</label> {{ x.so_tt_nkt}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Ngày sinh:</label> {{ x.ngay_sinh_nkt|date:"d/m/Y"}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Số định danh NKT:</label> {{ x.so_dinh_danh}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Số hiệu giấy xác nhận NKT:</label> {{ x.so_hieu_giay_xac_nhan}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Giới tính:</label> {{ x.gioi_tinh}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Số CMND:</label> {{ x.so_cmnd}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Quốc tịch:</label> {{ x.quoc_tich}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Dân tộc:</label> {{ x.dan_toc}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Tôn giáo:</label> {{ x.ton_giao}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Nhóm máu:</label> {{ x.nhom_mau}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Trình độ:</label> {{ x.trinh_do}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Chuyên môn:</label> {{ x.chuyen_mon}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Nghề nghệp:</label> {{ x.nghen_ghiep}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Là nạn nhân chất độc da cam:</label> {{ x.nan_nhan_da_cam}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Hôn nhân:</label> {{ x.hon_nhan}}
    </div>
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Tổng số con:</label> {{ x.tong_so_con}}
    </div>
</div>

<div class="form-row">
    <div class="col-sm-6">
        <label style="color: #000; font-size: 25px; font-weight: bold;"> Số con dưới 16 tuổi:</label> {{ x.so_con_duoi_16}}
    </div>

</div>